
@{
    Layout = null;
}
@*@{
        ViewBag.Title = "Login";
    }*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>WELCOME TO MY BUG-TRACKER PROJECT</title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <!-- Bootstrap Core Css -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <!-- Waves Effect Css -->

    <link href="~/Content/waves.css" rel="stylesheet" />

    <!-- Animation Css -->

    <link href="~/Content/animate.css" rel="stylesheet" />

    <!-- Sweet Alert Css -->

    <link href="~/Content/sweetalert.css" rel="stylesheet" />


    <!-- Custom Css -->

    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->


    <link href="~/Content/all-themes.css" rel="stylesheet" />
</head>
<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">


                <a class="navbar-brand" href="../../index.html">WELCOME TO MY BUG TRACKER PROJECT</a>
            </div>
            
        </div>
    </nav>
    </br>
    </br>
    </br>
    </br>

    <!-- #Top Bar -->
    <div class=" row">
        <div class=" col-md-12 text-center">
            <h2>Login as Demo-Users</h2>
        </div>
    </div>
    
    <div class=" container-fluid">
        <div class="row clearfix">
            <div class="col-md-3 ">
                <div class="card">
                    <div class="header bg-red">
                        <h2>
                            Admin <small>Login as a Admin</small>
                        </h2>
                      
                    </div>
                    <div class="body">
                        Admin can assign or unassign users to and from roles. Admin can create new project. Admin can access any Projects or any Tickets
                    </div>
                    
                    <div class="form-group">
                        <div class=" col-md-12 text-center">
                            <input type="submit" value="Login" class="btn btn-danger" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="header bg-cyan">
                        <h2>
                            Project Manager <small>Login as a Project Manager</small>
                        </h2>
                       
                    </div>
                    <div class="body">
                        Project Manager works on the tickets they are assigned to.They are able to assign developers to their project tickets
                    </div>
                    <hr/>
                    <div class="row form-group">
                        <div class=" col-md-12 text-center">
                            <input type="submit" value="Login" class="btn btn-primary" />
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="header bg-green">
                        <h2>
                            Developer <small>Login as developer</small>
                        </h2>
                      
                    </div>
                    <div class="body">
                        Developers are able to view projects and tickets they are assigned to. So they can fix the Tickets they are assigned to.
                    </div>
                    <div class="row form-group">
                        <div class=" col-md-12 text-center">
                            <input type="submit" value="Login" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
            
                <div class="col-md-3">
                    <div class="card">
                        <div class="header bg-orange">
                            <h2>
                                Submitter<small>Login as a Submitter</small>
                            </h2>
                           
                        </div>
                        <div class="body">
                            Submitters are able to create tickets for the projects they are assigned to. But they are not able to assign tickets
                        </div>
                        <div class="row form-group">
                            <div class=" col-md-12 text-center">
                                <input type="submit" value="Login" class="btn btn-deep-orange" />
                            </div>
                        </div>
                    </div>
                   
                </div>
            
           
        </div>
        <div class=" row">
            <div class=" col-md-12 text-success h3">
                @Html.ActionLink("Back to Login page", "Login", "Home")
            </div>
        </div>
</div>

        <!-- Section: Pricing v.1 -->
        <!-- Jquery Core Js -->

        <script src="~/Scripts/jquery.min.js"></script>
        <!-- Bootstrap Core Js -->


        <script src="~/Scripts/bootstrap.js"></script>
        <!-- Select Plugin Js -->

        <script src="~/Scripts/bootstrap-select.js"></script>
        <!-- Slimscroll Plugin Js -->

        <script src="~/Scripts/jquery.slimscroll.js"></script>
        <!-- Waves Effect Plugin Js -->

        <script src="~/Scripts/waves.js"></script>
        <!-- Custom Js -->

        <script src="~/Scripts/admin.js"></script>
        <!-- Demo Js -->

        <script src="~/Scripts/demo.js"></script>
</body>
</html>